@import '../Navbar/variables.scss';

.story-container {
  width: 100vw;
  position: relative;
  margin-top: 3em;

  .content-col,
  .image-col {
    margin-bottom: 5em;
  }

  h1 {
    @include script-font;
    font-size: 56px;
    text-align: center;
    margin-bottom: 36px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 12px;
  }
}
