@import '../Navbar/variables.scss';

.story-container {
  width: 100vw;
  position: relative;
  padding-top: 3em;
  padding-bottom: 3em;

  h1 {
    @include script-font;
    font-size: 56px;
    text-align: center;
    margin-bottom: 36px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 12px;
  }
}
